@import url('http://fonts.cdnfonts.com/css/averia-serif-libre');

body {
  margin: 0;
  font-family: 'Averia Serif Libre', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}